<!DOCTYPE html>
<html>
<head>
  <title>Ez permissions</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "ez/permissions/application", media: "all" %>
  <%= javascript_include_tag "ez/permissions/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
